<ul class="menu">

<!--          <li><a class="page-link" href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i>Home</a></li> -->
<li><a class="page-link" href="{{ site.baseurl }}/schedule/"><i class="fa fa-list-ul fa-lg"></i> Schedule</a></li>
<li><a class="page-link" href="{{ site.baseurl }}/assignments/"><i class="fas fa-book"></i> Assignments</a></li>
<li><a class="page-link" href="{{ site.baseurl }}/resources/"><i class="fas fa-book-reader"></i> Resources</a></li>
<li><a class="page-link" href="https://github.com/{{ site.githubdir }}"><i class="fab fa-github"></i></a></li>
<li><a class="page-link" href="{{ site.authorurl }}"><i class="fa fa-user fa-lg"></i></a></li>
</ul>
